mat-toolbar {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
}

.usuario-container {
  display: flex;
  align-items: center;
  height: 33px;
}

.usuario-container img {
  border-radius: 100%;
  max-height: 100%;
  margin-right: 10px;
}
